@import "../../common/color.scss";

.card-item {
  cursor: pointer;
  padding-block: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-inner {
  width: 300px;
  height: 600px;
  border-radius: 1rem;
  transition: all 0.3s;
  &:focus,
  &:hover {
    border-radius: 1rem;
    transition: all 0.3s;
    transform: scale(1.05);
  }
}
.card-top {
  img {
    width: 300px;
    height: 500px;
    border-radius: 1rem;
  }
}
.card-info {
  padding: 5px;
  p,
  h4 {
    color: $secondary-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    color: $font-secondary;
  }
}

@media (max-width: 1000px) {
  .card-inner {
    width: 25vw;
    height: auto;
  }
  .card-top {
    img {
      width: 25vw;
      height: auto;
    }
  }
}

@media (max-width: 700px) {
  .card-inner {
    width: 40vw;
    height: auto;
  }
  .card-top {
    img {
      width: 40vw;
      height: auto;
    }
  }
}
@media (max-width: 500px) {
  .card-inner {
    width: 70vw;
    height: auto;
  }
  .card-top {
    img {
      width: 70vw;
      height: auto;
    }
  }
}
