@import "../src/common/color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  background:#2C3E50;
}
a {
  text-decoration: none;
}

