@import "../../common/color.scss";

.movie-wrapper {
  margin: 20px 40px;
  h2 {
    color: $secondary-color;
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
    text-transform: capitalize;
    margin-block: 10px;
  }
}
.no-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-primary;
}
