@import "../../common/color.scss";
.banner-img {
  img {
    opacity: 0.6;
    transition: all 500ms;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    &:hover {
      opacity: 0.8;
      transition: all 500ms;
    }
  }
}
.ask_GPT {
  position: absolute;
  top: 40%;
  left: 80%;
  border: 3px solid $font-primary;
  color: $font-primary;
  font-size: medium;
  border-radius: 10px;
  padding: 5px 10px;

  &:hover {
    background-color: $primary-color;
    // color: $secondary-color;
    border: 3px solid $primary-color;
  }
}
